<header>
    <h1>Civilization VI Community Hub</h1>
    <nav>
      <ul class="navbar">
        <li><a href="index.html">Home</a></li>
        <li><a href="leaders.html">Leaders</a></li>
        <li><a href="strategies.html">Victory Strategies</a></li>
        <li><a href="dlc.html">Expansions</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="review1.html">Peer Review 1</a></li>
        <li><a href="review2.html">Peer Review 2</a></li>
      </ul>
    </nav>
    
</header>
  
  