<ul class="footer-links">
    <li><a href="https://charlotte.edu/">Charlotte website</a></li>
    <li><a href="https://github.com/Gman-Brummer">Github</a></li>
    <li><a href="https://Gman-Brummer.github.io">Github.io</a></li>
    <li><a href="https://Gman-Brummer.github.io/itis3135">ITIS 3135 Github.io</a></li>
    <li><a href="https://www.freecodecamp.org/Gman23">Freecodecamp</a></li>
    <li><a href="https://www.codecademy.com/profiles/arc7706508527">Code Academy</a></li>
    <li><a href="https://www.linkedin.com/in/greyson-brummer-b82119301/">LinkedIn</a></li>
</ul>

<ul class="footer-credit">
    <li>Page built by <a href="BrummerWebSolution.com/index.html">Brummer Web Solutions</a></li>
</ul>

<div class="footer-validation">
  <script>
    document. getElementById("validation_link_html"). setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation_link_css"). setAttribute ("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
</script>
  </div>
  



