<h1>Grumpy Banshee||ITIS 3135</h1>
        <nav>
        <a href="index.html">Home</a>
        <a href="contract.html">Contract</a>
        <a href="introduction.html">Introduction</a>
        <a href="grumpybanshee/index.html">Whimsical Company</a>
        <a href="byo_intro.html">BYO Intro Page</a>
        <a href="tables.html">NFL Player Tables</a>
        <a href="hobby/index.html">Hobby</a>
        <a href="project/index.html">Client Project</a>
        <a href="drawing.html">Interactive Drawing Page</a>
        </nav>
        <nav>
            <a href="stuff/PaNTherS-craPPy-W3bsite.html">CRAPPY</a>
        </nav>
        
   
